@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <meta name='robots' content='noindex,nofollow' />
    <link rel='stylesheet' id='wp-admin-css'  href='@Url.Content("~/Content/Admin/css/wp-admin.min.css")' type='text/css' media='all' />
    <link rel='stylesheet' id='buttons-css'  href='@Url.Content("~/Content/Include/css/buttons.min.css")' type='text/css' media='all' />
    <link rel='stylesheet' id='colors-fresh-css'  href='@Url.Content("~/Content/Admin/css/colors-fresh.min.css")' type='text/css' media='all' />
}

@section BodyClass{login login-action-login wp-core-ui}

    <div id="login">
        <h1>@Html.ActionLink((string)ViewBag.BlogTitle, "Index", "Home", null)</h1>

        @if (ViewBag.Message != null)
        {
            <p class="message">
                <strong>@Html.Raw(ViewBag.Message)</strong>
            </p>
        }

        @if (ViewBag.Errors != null)
        {
            <script type="text/javascript">
                addLoadEvent = function (func) { if (typeof jQuery != "undefined") jQuery(document).ready(func); else if (typeof wpOnload != 'function') { wpOnload = func; } else { var oldonload = wpOnload; wpOnload = function () { oldonload(); func(); } } };
                function s(id, pos) { g(id).left = pos + 'px'; }
                function g(id) { return document.getElementById(id).style; }
                function shake(id, a, d) { c = a.shift(); s(id, c); if (a.length > 0) { setTimeout(function () { shake(id, a, d); }, d); } else { try { g(id).position = 'static'; wp_attempt_focus(); } catch (e) { } } }
                addLoadEvent(function () { var p = new Array(15, 30, 15, 0, -15, -30, -15, 0); p = p.concat(p.concat(p)); var i = document.forms[0].id; g(i).position = 'relative'; shake(i, p, 20); });
            </script>
            <div id="login_error">
                @foreach (string error in ViewBag.Errors)
                {
                    <strong>错误：</strong>@Html.Raw(error)<br />
                }
            </div>
        }


        @RenderBody()

        <p id="nav">
            @if (ViewBag.AllRegister != "0")
            {
                if (ViewBag.IsRegisting == true)
                {
                @Html.ActionLink("登录", "Login")
                }
                else
                {
                @Html.ActionLink("注册", "Register")
                }
                @:|
            } @Html.ActionLink("忘记密码？", "LostPassword", null, new { title = "找回密码" })
        </p>

        <script type="text/javascript">
            function wp_attempt_focus() {
                setTimeout(function () {
                    try {
                        d = document.getElementById('user_login');
                        d.focus();
                        d.select();
                    } catch (e) { }
                }, 200);
            }
            if (typeof wpOnload == 'function') wpOnload();
        </script>

        <p id="backtoblog">
            <a href="@Url.Action("Index", "Home")" title="不知道自己在哪？">&larr; 回到 @ViewBag.BlogTitle</a>
        </p>

    </div>

