@using Blog.WebUI.Models;
@model Blog.Domain.PageInfo<Blog.Model.Article>
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
@if (Model.PageItems.Count == 0)
{
    <h2>抱歉，没有找到任何内容。</h2>
}
else
{
    foreach (Blog.Model.Article item in Model.PageItems)
    {
    <div class="k1">
        <h3>
            @Html.ActionLink(item.Title, "Index", "Article", new { id = item.ArticleId }, null)
            <b>Browse:@item.Browse </b>
        </h3>
        <div class="k1_1">
            @if (item.Extends.ContainsKey("Cover"))
            {
                <a href="@Url.Action("Index", "Article", new { id = item.ArticleId })">
                    <img src="@item.Extends["Cover"]" alt="@item.Title" title="@item.Title">
                </a>
            }
        </div>
        <p>@Html.SubString(Html.Html2String(item.Content))</p>
        <div class="k1_2">
            <div class="m1">时间：@item.CreateDate.ToString("yyyy-MM-dd")</div>
            <div class="m2">
                @if (item.Categorys.Where(c => c.Type == Blog.Domain.CategoryType.Category).Count() > 0)
                {
                    var categorys = item.Categorys.Where(c => c.Type == Blog.Domain.CategoryType.Category).ToList();
                    @:分类：
                    for (int i = 0; i < categorys.Count; i++)
                    {
                    @Html.ActionLink(categorys[i].Name, "Category", "Category", new { id = categorys[i].CategoryId }, new { title = "查看 " + categorys[i].Name + " 中的全部文章" })
                        if (i + 1 < categorys.Count)
                        {
                    @:,
                        }
                    }
                }
            </div>
            <div class="m3">
                @if (item.Categorys.Where(c => c.Type == Blog.Domain.CategoryType.Tag).Count() > 0)
                {
                    var categorys = item.Categorys.Where(c => c.Type == Blog.Domain.CategoryType.Tag).ToList();
                    @:标签：
                    for (int i = 0; i < categorys.Count; i++)
                    {
                    @Html.ActionLink(categorys[i].Name, "Tag", "Category", new { id = categorys[i].Name }, new { title = "查看 " + categorys[i].Name + " 中的全部文章" })
                        if (i + 1 < categorys.Count)
                        {
                    @:,
                        }
                    }
                }
            </div>
            <div class="m4">评论：@item.CommentCount</div>
        </div>
    </div>
    }
}
<div class="page">
    @Html.Page(Url, new PageInfo()
    {
        PageIndex = ViewBag.Page,
        ShowPage = 5,
        TotalPage = Model.TotalPage,
        Action = ViewContext.RouteData.Values["action"].ToString(),
        Cotroller = null
    })
</div>
