@model Blog.Model.Comment
@{
    ViewBag.Title = "编辑评论";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="screen-meta" class="metabox-prefs">

    <div id="contextual-help-wrap" class="hidden" tabindex="-1" aria-label="“上下文帮助”选项卡">
        <div id="contextual-help-back"></div>
        <div id="contextual-help-columns">
            <div class="contextual-help-tabs">
                <ul>

                    <li id="tab-link-overview" class="active">
                        <a href="#tab-panel-overview" aria-controls="tab-panel-overview">概述								</a>
                    </li>
                </ul>
            </div>

            <div class="contextual-help-sidebar">
                <p><strong>更多信息：</strong></p>
            </div>

            <div class="contextual-help-tabs-wrap">

                <div id="tab-panel-overview" class="help-tab-content active">
                    <p>若有需要，您可以编辑一条评论中的任何内容，特别是当评论者打错字的时候，这一功能十分有用。</p>
                    <p>您也可以使用状态栏来审核评论、修改发布时间。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="screen-meta-links">
    <div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
        <a href="#contextual-help-wrap" id="contextual-help-link" class="show-settings" aria-controls="contextual-help-wrap" aria-expanded="false">帮助</a>
    </div>
</div>
<form name="post" method="post" id="post">
    <div class="wrap">
        <div id="icon-edit-comments" class="icon32">
            <br>
        </div>
        <h2>编辑评论</h2>

        <div id="poststuff">
            <input type="hidden" name="CommentId" value="@Model.CommentId">

            <div id="post-body" class="metabox-holder columns-2">
                <div id="post-body-content" class="edit-form-section">
                    <div id="namediv" class="stuffbox">
                        <h3>
                            <label for="name">作者</label></h3>
                        <div class="inside">
                            <table class="form-table editcomment">
                                <tbody>
                                    <tr valign="top">
                                        <td class="first">名称：</td>
                                        <td>
                                            <input type="text" name="Author" size="30" value="@Model.Author" id="name"></td>
                                    </tr>
                                    <tr valign="top">
                                        <td class="first">电子邮件（<a href="mailto:@Model.AuthorMail">发送电子邮件</a>）：</td>
                                        <td>
                                            <input type="text" name="AuthorMail" size="30" value="@Model.AuthorMail" id="email"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>

                    <div id="postdiv" class="postarea">
                        <div id="wp-content-wrap" class="wp-core-ui wp-editor-wrap html-active">
                            <link rel="stylesheet" id="editor-buttons-css" href="@Url.Content("~/Content/Include/css/editor.min.css")" type="text/css" media="all">
                            <div id="wp-content-editor-container" class="wp-editor-container">
                                <div id="qt_content_toolbar" class="quicktags-toolbar">
                                    <h3>
                                        <label for="content">内容</label></h3>
                                </div>
                                <textarea class="wp-editor-area" rows="20" cols="40" name="content" id="content">@Model.Content</textarea>
                            </div>
                        </div>

                        <input type="hidden" id="closedpostboxesnonce" name="closedpostboxesnonce" value="e8ec92bb7d">
                    </div>
                </div>
                <!-- /post-body-content -->

                <div id="postbox-container-1" class="postbox-container">
                    <div id="submitdiv" class="stuffbox">
                        <h3><span class="hndle">状态</span></h3>
                        <div class="inside">
                            <div class="submitbox" id="submitcomment">
                                <div id="minor-publishing">

                                    <div id="minor-publishing-actions">
                                        <div id="preview-action">
                                            <a class="preview button" href="@Url.Action("Index", "Article", new { id = Model.Article.ArticleId })-@Model.CommentId#comment-@Model.CommentId" target="_blank">查看评论</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div id="misc-publishing-actions">

                                        <div class="misc-pub-section" id="comment-status-radio">
                                            <label class="approved">
                                                <input type="radio" @(Model.Status == Blog.Domain.CommentStatus.Open ? "checked=\"checked\"" : "") name="Status" value="1">已审核</label><br>
                                            <label class="waiting">
                                                <input type="radio" @(Model.Status == Blog.Domain.CommentStatus.Verify ? "checked=\"checked\"" : "") name="Status" value="0">待审</label><br>
                                        </div>

                                    </div>
                                    <!-- misc actions -->
                                    <div class="clear"></div>
                                </div>

                                <div id="major-publishing-actions">
                                    <div id="delete-action">
                                        <a class="submitdelete deletion" href="@Url.Action("Trash", new { id = Model.CommentId })">移至回收站</a>
                                    </div>
                                    <div id="publishing-action">
                                        <input type="submit" name="save" id="save" class="button button-primary" value="更新">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /submitdiv -->
                </div>

            </div>
            <!-- /post-body -->
        </div>
    </div>
</form>
